@media only screen and (min-width:320px){
}
@media only screen and (min-width:480px){
}
@media only screen and (min-width:568px){
}
@media only screen and (min-width:768px){
}
@media only screen and (min-width:800px){
}
@media only screen and (min-width:992px){
}
@media only screen and (min-width:1025px){
}
@media only screen and (min-width:1400px){
}
@media only screen and (min-width:1200px){
}
@media only screen and (min-width:1600px){
}
@media only screen and (max-width:1100px){
  .container{width:100%}
  div#wapper{overflow:hidden;}
}
@media only screen and (max-width:1023px){
  #wrap_menu_res{display:block;}
  #valak_mmenu{display:flex;}
  #w_menu_mobile{display:block;top:7px;}
  .slick-prev,.slick-next{opacity:1;}
}
@media screen and (min-width:500px) and (max-width:1000px){
}
@media only screen and (max-width:992px){
  .combomobile{display:block;}
  #footerSlideContainer{display:none;}
  .nav-bg{display:none;}
  .nav-bg{position:relative;}
  .main-nav>ul{display:none;}
  .logo{position:relative;background:transparent;text-align:center;}
  .logo img{max-height:100px;}
  .about-flex .info h2{font-size:2em;}
  .idx-tit h2,.about-flex .info p.welcome{font-size:2em;}
  .tin-camnang-flex{background:#efdfbe;}
  .tin-camnang-flex>div{width:49%;}
  .tin-camnang-bg .title{font-size:1.7em;}
  .lich-head .title{font-size:2em;}
  .lichhen-box{padding:0 1em}
  .hd-right-top{display:none;}
  .hd-right{display:flex;align-items:center;}
  #slideshow{margin-left:0;width:70%;}
  .slider-box-flex{justify-content:space-between;}
  .slider-form{width:30%;}
  .index-flex{display:block;}
  .index-flex-left,.index-flex-right{width:100%;margin-bottom:1em;}
  .quangcao-box-item figure img,.canbiet-item figure img{width:100%;}
  .ft-flex>div{width:49%;margin-bottom:1em;flex:auto;}
  .ft-flex>div+div{margin-left:0}
  .ft-flex>div.ft-info{width:100%}
  .ft-flex{-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;}
}
@media only screen and (max-width:767px){
  #wrap_menu_res{display:block;border-top:1px solid #fff;}
}
@media only screen and (max-width:670px){
}
@media only screen and (max-width:667px){
}
@media only screen and (max-width:500px){
  .about-flex,.tin-camnang-flex{display:block;}
  .tin-camnang-flex>div,.about-flex>.imgsp,.about-flex .info{width:100%;margin-bottom:1em;}
  .dichvu-item .stttin{display:none;}
  .lichhen-box .form-group{flex:unset;width:100%;}
  .lichhen-box .form-group+div{margin-left:0}
  .ft-flex>div{width:100%}
  .ft-flex{display:block;}
  .ft-flex>div+div{margin-left:0}
  .slider-box-flex{display: block;}
  .slider-box-flex>div{
    width: 100%;
    margin-bottom: 1em;
}#slideshow{width: 100%;}.slideshow-slider-item a{
    height: 250px;
}.product-grid {
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 1em;
}.index-flex-right .product-grid {
    grid-template-columns: repeat(2,1fr);
}.hd-flex{
    flex-wrap: wrap;
    height: auto;
}.logo{
    width: 100%;
}.hd-right{
    justify-content: center;
    margin-bottom: 10px;
}
}
@media only screen and (max-width:479px){
}
@media only screen and (max-width:375px){
}
@media only screen and (max-width:330px){

/*.product-grid{display:block;}*/}
