/.well-known
/tt@#cache
/trangquantri/*
!/trangquantri/ajax
!/trangquantri/sources
!/trangquantri/templates
!/trangquantri/index.php
/images
/fontawesome
/fonts
/magiczoomplus
/plugin
/node_modules
/production
/upload
/vendor
404.*
robots.txt
*.zip
css_optimize.php
package-lock.json